.jumbotron 
    //background: url("/landscape.jpg")
    background: rgb(34,195,145);
    background: linear-gradient(345deg, rgba(34,195,145,1) 0%, rgba(156,45,253,1) 80%);
    background-repeat: none
    background-size: cover
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    font-size: 3em
    height: 100vh


.jumbotron
    *
        margin: 0
        font-weight: 200


    
