.jumbotron 
    background: url("/landscape.jpg")
    background-repeat: none
    background-size: cover
    display: flex
    justify-content: center
    align-items: center
    text-align: center
    color: white
    font-size: 3em
    height: 100vh


.jumbotron
    *
        margin: 0
        font-weight: 200


    
